@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  background-image: url("../img/bg.png");
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.header {
  width: 100%;
  background: #aceb98;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}

.header span {
  margin-left: 15px;
  padding: 0;
}

.header img {
  max-height: 45px;
  margin-left: 15px;
}

.header navbar {
  margin-right: 15px;
  padding: 0;
}

.header navbar ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.header navbar ul li a {
  text-decoration: none;
  opacity: 0.4;
  color: black;
  text-transform: uppercase;
  padding: 5px;
  -webkit-transition: 0.5s all linear;
  transition: 0.5s all linear;
}

.header navbar ul li a:hover {
  opacity: 1;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container p {
  max-width: 500px;
  background: white;
}

.container img {
  max-height: 200px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 470px;
}

.card img {
  max-height: 50vh;
  margin: 0;
  position: relative;
}

.card span {
  background: #000;
  color: white;
  font-weight: 700;
  width: 100%;
}

.footer {
  background: #aceb98;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.95em;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.form_container {
  max-width: 400px;
}

.form_container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form_container form input[type=submit] {
  padding: 10px;
  border: none;
  border-radius: 3px;
  background: #aceb98;
  font-weight: 700;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  cursor: pointer;
  margin-top: 15px;
}

.form_container form input[type=submit]:hover {
  background: #78df58;
}

.cardapio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 80vw;
}

.prato {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 200px;
  margin: 5px;
}

.prato img {
  max-height: 150px;
  margin: 0;
  position: relative;
}

.prato span {
  background: #000;
  color: white;
  font-weight: 700;
  width: 100%;
}

.botao {
  padding: 10px;
  border: none;
  border-radius: 3px;
  background: #aceb98;
  font-weight: 700;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  cursor: pointer;
  margin-top: 15px;
}

.botao:hover {
  background: #78df58;
}
/*# sourceMappingURL=main.css.map */